@use '../../scss/colors.scss' as colors;

.side-menu {
  .settings {
    h2 {
      margin-bottom: 30px;
    }
  }

  .settings,
  .instructions {
    top: 0;
    right: 0;
  }

  .library {
    top: 0;
    left: 0;

    .title {
      color: colors.$secondary-color;
    }

    .origami-previews {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 120px;
      grid-gap: 10px;
      margin-top: 26px;
    }

    .no-origami {
      display: flex;
      color: colors.$secondary-color;
      justify-content: center;
      margin-top: 26px;
    }
  }

  .instructions {
    .content {
      overflow: hidden;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      color: colors.$secondary-color;
      width: 400px;
      padding: 0 30px;
    }
  }

  .settings,
  .library,
  .instructions {
    position: absolute;
    background-color: colors.$tertiary-color;
    height: 100%;
    padding-top: 170px;
    width: 400px;
  }
}
