@use '../../../assets/scss/colors.scss' as colors;

$step-size: 13px;
$transition-time: 0.3s;

.controls-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);

    .controls {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .control {
        display: inline-block;
        padding: 10px 10px;
        border: none;
        background-color: transparent;
        color: colors.$secondary-color;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: color $transition-time ease-in-out;
        width: 50px;

        &:hover {
            color: colors.$primary-color;
        }

        &:not(:hover) {
            color: colors.$secondary-color;
        }

        &:active {
            transform: translateY(1px);
        }
    }

    .steps {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: -5px;
    }

    .step {
        width: $step-size;
        height: $step-size;
        background-color: colors.$secondary-color;
        border: 2px solid colors.$secondary-color;
        border-radius: 50%;
        transition: background-color $transition-time ease-in-out, border-color $transition-time ease-in-out;

        &:hover {
            background-color: colors.$primary-color;
            border-color: colors.$primary-color;;
        }

        &:active {
            background-color: colors.$primary-color;
        }

        &:nth-child(3) {
            width: $step-size * 1.7;
            height: $step-size * 1.7;
        }

        &:nth-child(2),
        &:nth-child(4) {
            width: $step-size * 1.2;
            height: $step-size * 1.2;
        }
    }

    .progress {
        height: 50%;
    }
}